public/upload/development/callouts/1/original_IMG_2927.jpg
public/upload/development/callouts/1/standard_IMG_2927.jpg
public/upload/development/callouts/2/original_Canada_162.jpg
public/upload/development/callouts/2/standard_Canada_162.jpg
public/upload/development/image_versions/1/cropped_IMG_7376.JPG
public/upload/development/image_versions/1/large_IMG_7376.JPG
public/upload/development/image_versions/1/medium_IMG_7376.JPG
public/upload/development/image_versions/1/original_IMG_7376.JPG
public/upload/development/image_versions/1/small_IMG_7376.JPG
public/upload/development/image_versions/1/thumb_IMG_7376.JPG
public/upload/development/image_versions/1/tocrop_IMG_7376.JPG
public/upload/development/images/1/cropped_IMG_7376.JPG
public/upload/development/images/1/large_IMG_7376.JPG
public/upload/development/images/1/medium_IMG_7376.JPG
public/upload/development/images/1/original_IMG_7376.JPG
public/upload/development/images/1/small_IMG_7376.JPG
public/upload/development/images/1/thumb_IMG_7376.JPG
public/upload/development/images/1/tocrop_IMG_7376.JPG
test/fixtures/twitters.yml
test/unit/twitter_test.rb
tmp/cache/views/0.cache
tmp/cache/views/Tue Mar 23 00.07.06 +0000 2010.cache
tmp/cache/views/Tue Mar 23 00.07.07 +0000 2010.cache
tmp/cache/views/twitter.cache
tmp/cache/views/twitter_0_23.cache