</div>
<div id="footer">
	<div class="wrapper">
		<div class="column">
			<h4>Who is Paul Carlile?</h4>
			<p>A former Headteacher, Paul has over twenty years experience working with children, young people and families. He gained national recognition working with ‘at risk’ schools and communities in Yorkshire and the Humber areas. He moved to the Department for Children, Schools and Families coordinating school improvement. before becoming an independent trainer and consultant.</p>
		</div>
		<div class="column"> 
			<p style="margin-top:30px;"> In 2007 Paul was engaged by Hull City Council to provide leadership consultancy and training as they moved towards becoming an integrated restorative based service. Paul’s innovative training, consultancy and impact evaluation tools have helped secure significant positive outcomes in Hull. The success of Paul’s work has led to requests to speak at national and international conferences, the most recent being the Restorative Practices International conference in Vancouver.<p>
		</div>
		<div class="column last">
			<h4>Get in touch</h4>
			<p><strong>T:</strong> +44 (0)7507 643652</li><br />
			<strong>E.</strong> <a href="mailto:paul@paulcarlile.com">paul@paulcarlile.com</a><br />
			<strong>W.</strong> <a href="http://www.paulcarlile.com">www.paulcarlile.com</a></p>
		</div>
		<div class="madeby">
			<p>Site by <a href="http://www.adamcarlile.com">Adam Carlile</a><p>
		</div>
	</div>
</div>
</body>
</html>