<%- if @posts %>
<div class="sidebar">
	<div class="inner">
		<h4>Latest Blog Posts</h4>
		<ul class="posts">
			<% @posts.each do |post| %>
			<li>
				<%= datebox(post.publish_from)%>
				<h3><%= link_to_page(post) %></h3>
				<p><%= truncate post.intro, :length => 95 %></p>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<% end %>