<div class="sidebar">
	<div class="inner">
		<h4>Twitterfeed</h4>
			<div class="twitter">
				<% if @twitter == Grackle::TwitterError %>
					<p>Oops looks like we cant connect to twitter right now</p>
				<%- else %>
					<% tweet = @twitter.first %>
					<p><img src="<%= twitter.first.user.profile_image_url %>" alt="image" /><%= tweet.text %></p>
				<% end %>
				<p class="followus"><a href="http://twitter.com/paulcarlile">Follow</a> our updates on <a href="http://twitter.com/paulcarlile">Twitter</a>!</p>
			</div>
	</div>
</div>